{% extends '@SyliusShop/layout.html.twig' %}
{% block content %}
    <div>
        <h3>Pay with Bitcoin</h3>
        <p>Send BTC to the following address:</p>
        <p><strong>{{ btc_address }}</strong></p>
        <p>Amount: <strong>{{ btc_amount }}</strong> BTC</p>
    </div>
{% endblock %}