{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    {% block braintree_payment_form %}

        <div id="error-container" style="display:none">
            <div id="error-message" style="margin:1em; padding:1em; background-color:#ee0000; color:white"></div>
        </div>

        <form id="form" method="POST" action="{{ formAction }}">
            <input type="hidden" name="nonce" id="threeDSecure_payment_method_nonce" />
        </form>

    {% endblock %}

{% endblock %}
